extends layout

block header        
    //-script(src="/app.js")
    title= tr('Hippo')

block content
    .well
        h1= tr('Welcome To Use Qomo Installer')

        #stage

        ul.pager
            li.previous
                a#backward(href="#")= tr('← Back')
            li.next
                a#forward(href="#")= tr('Next →')


    include license
    include part
    include process
