extends layout

block header        
    //-script(src="/app.js")
    title Demo App

block content
    .well.fullscreen
        h1 Welcome To Use Qomo Installer

        #stage

        ul.pager
            li.previous
                a#backward(href="#") ← Back
            li.next
                a#forward(href="#") Next →


    include license
    include part
    include process
