extends layout

block header        
    //-script(src="/app.js")
    title Demo App

block content
    .row
        .offset1.span10.well
            h1 Welcome To Hippo 
            p here is a simple demo app that you can try 

            .row-fluid
                #stage.well
