extends layout

block header        
    //-script(src="/app.js")
    title Demo App

block content
    .row
        .offset1.span10.well
            h1 Welcome To Use Qomo Installer

            .row-fluid
                #stage

            .actions
                button#backward.btn back
                button#forward.btn.btn-primary next


    include license
    include part
    include process
