extends layout

block header
    //-script(src="/app.js")
    title= tr('Hippo')

block content
    .well
        h1: center= tr('Welcome To Use Qomo Installer')

        #stage

        ul.pager
            li.next
                a#forward(href="#")= tr('Next →')


    include license
    include userinfo
    include license_zh
    include part
    include process
