extends layout

block header
    //-script(src="/app.js")
    title= tr('Hippo')

block content
    h1: center= tr('Welcome To Use Qomo Installer')
    
    div.breadcrumb-wrapper
        ol#breadcrumb-trail

    #stage.body-expand

    .footer
        ul.buttons

    include license
    include userinfo
    include license_zh
    include part
    include process
