extends layout

block header
    //-script(src="/app.js")
    title= tr('Hippo')

block content
    .well
        h1: center= tr('Welcome To Use Qomo Installer')
        br
        ul.breadcrumbs
            li.current
                a Welcome
            li
                a Setting Userinfo
            li
                a Selecting Partition
            li
                a Install

        #stage

        ul.pager
            li.next
                a#forward(href="#")= tr('Next →')


    include license
    include userinfo
    include license_zh
    include part
    include process
