extends layout

block header
    //-script(src="/app.js")
    title= tr('Hippo')

block content
    h1: center= tr('Welcome To Install Qomo 4.0')
    
    div.breadcrumb-wrapper
        .myicon-spacer
            ol#breadcrumb-trail
                li.mybreadcrumb.category.last
                    .myicon-container
                        .breadcrumb-myicon
        .end-trail
            span= tr("Let's Qomo")

    .body-expand
        #stage

    .footer
        ul.buttons

    include license
    include license_zh
    include part
    include process
    include finished
    include partial
