script(type="text/template", id="easy_part_tmpl").
    .part_table#easy_part_table
        p= gettext('Select one partition: ')
        -for (var i in disks)
            - disk = disks[i]
            p.diskinfo
                = disk["path"]
                = "(" + disk["size"].toFixed(2) + disk["unit"]
                = "/" + disk.type + ")"
            - var parts = disk["table"]
            ul.wat-cf.disk(dpath=disk["path"],dnum=i)
    .warninfo
        br
