script(type="text/template", id="fulldisk_part_tmpl").
    .part_table#fulldisk_part_table
        p= gettext('Select one disk: ')
        -for (var i in disks)
            - disk = disks[i]
            ul.wat-cf.disk(dnum=i)
                li
                    b= disk["path"]
                li
                    b= disk["size"].toFixed(2) + disk["unit"]
    .warninfo
        br
