!!!
html
    head
        //-magic comment used to auto serving js and css
        != author
        //-!= systemAssets
        //-!= assets

        // app.js is main entry
        script(data-main="app.js", src="js/require-jquery.js")

        link(href='/css/bootstrap-responsive.css', rel='stylesheet', type='text/css')
        link(href='/css/bootstrap.css', rel='stylesheet', type='text/css')

        block header

    body
        #content
            block content
