script(type="text/template", id="license_tmpl_zh").
    .row-fluid
        .pull-left
            ul#js_langs.nav.nav-pills.nav-stacked
                li: a(href='/?locale=en')= 'English'
                li.active: a(href='/?locale=zh')= '简体中文'

        .license.mywell.offset2.span10
            .scrollspy(data-spy="scroll",data-offset="0",style="height:240px;overflow-y:scroll;")
                h2
                  center 红旗Linux软件许可协议书
                h3
                  center (Red Flag Linux Software License Agreement V 1.2)
                p 请您在安装“红旗Linux”软件产品或任何该软件包含之软件前务必阅读本许可协议书。本许可协议书包含用户法律权利和义务的重要信息，在安装红旗产品或任何该软件包含之软件时您同意并愿意遵守如下条款，如果您不同意如下条款，请不要安装本软件。
                h3 定义
                p “红旗”和企鹅举旗图为北京中科红旗软件技术有限公司的注册商标。Linux为Linus Torvalds的注册商标。所有其他商标权专属于其各自的所有者。
                p “红旗软件”：为北京中科红旗软件技术有限公司的简称。
                p 您（用户）：指被授权使用、复制/再复制、修改/再修改、散布/再散布“红旗Linux”产品的单位或自然人。
                p
                  《GNU GPL-GNU通用公共许可证》即《GNU GPL-GNU通用公共许可证》（1991年6月第二版）版权所有 1989,1991 Free Software Foundation, Inc. 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. 详见：
                  a(href = "http://www.gnu.org/copyleft/gpl.html") http://www.gnu.org/copyleft/gpl.html
                h3 总则
                p “红旗Linux”产品包括源代码、文件、外观、结构和组成等，受到版权（著作权）法、商标法和其他法律及国际知识产权公约的保护。“红旗Linux”产品的使用和任何复制、修改的软件整体或其中的一部分都遵守上述相关法律和本协议书。
                h3 复制、修改及分发
                p 如果在所有复制品中维持本协议书不变，您可以且必须根据《GNU GPL-GNU通用公共许可证》复制、修改及分发“红旗Linux”产品中遵守《GNU GPL-GNU通用公共许可证》协议的软件、其他不遵守《GNU GPL-GNU通用公共许可证》协议的“红旗Linux”产品必须根据符合相关法律之其他许可协议进行复制、修改及分发，但任何以“红旗Linux”产品为基础的衍生发行版未经北京中科红旗软件技术有限公司的书面授权不能使用任何北京中科红旗软件技术有限公司的商标或其他任何标志。
                p 特别注意：该复制、修改及分发不包括本产品中包含的任何不适用《GNU GPL-GNU通用公共许可证》的软件，如“红旗Linux”产品中包含的输入法软件、字库软件、杀毒软件等（如果有的话）。
                p 如果满足上述条款并同时遵守如下条件，您可以修改“红旗Linux”产品，并且根据本协议书复制及分发、该修改物。
                p 1、您必须在每个修改过的文件中插入明显的声明，表示您如何及何时修改了该文件。您必须保证所有第三方在本协议下，得以自由使用该修改物的全部，例如通过指定地点的复制路径。
                p 2、您在读取修改过的“红旗Linux”产品命令时，必须使它在开始进入一般的交互使用方式时打印或显示声明，包括本协议书、适当的版权声明、有限担保声明（或您提供的担保声明），以及使用者可以根据这些条件可以再分发本修改物的声明。
                h3 有限担保
                p 红旗软件保证其产品能够在一定条件下、通常的标准下的正常安装、使用及卸载。除非有特别声明，红旗软件不保证该产品及其功能适合使用者的设备，并不保证其运行完全没有错误或完全具有产品说明书所描述的精确性；而且不保证：由于用户的主观及客观原因而不能正常安装、使用及卸载以及在其它过程出现的任何问题，并对此不承担任何责任，无论这种损害的造成与其产品有任何关联。
                h3 用户注册
                p 用户（您）只有在购买本产品并完成了在红旗软件的用户注册，才可以享受“红旗Linux”产品相应的服务。
                h3 补救措施
                p 在生效法律的最大范围内，下述补救措施是您唯一的补救措施。
                p 如果在您收到本产品后发现产品有瑕疵，您或您的供货商必须在产品交付之日起的30天内交付该瑕疵产品至红旗软件，但您必须提交原产品发票复印件。
                p 符合以上全部条件者，红旗软件负责对该产品退货或更换。
                h3 本协议书的使用规定
                p 在您安装“红旗Linux”软件产品时，视为您已阅读并同意遵守协议书的全部条款，因此，红旗软件对不遵守本协议造成的任何损失均不负责。红旗软件保留追究违反本协议书的法律权利。本协议书不允许被部分引用，不允许有任何修改。
                h3 法律适用
                p 本协议不因其中任何条款的无效而影响其他条款的效力。本协议适用中华人民共和国（大陆地区）法律。
                h3 解释权
                p 本协议的最终解释权归属于北京中科红旗软件技术有限公司。
                p 版权所有(c)2000-2012红旗软件。红旗软件允许您复制和发布这一协议书的副本，但绝对不允许对之进行任何修改。
                p 如果您不同意本协议，请您不要安装、使用本协议项下的相应软件，并立即将其退回；如果您已经开始安装或使用，则视为您完全同意本协议内的所有内容。

    ul.pager#choose
        li
            span.mycheckbox(value="agree")
            b= gettext('Agree')
        li
            span.mycheckbox.checked(value="disagree")
            b= gettext('Disagree')

