script(type="text/template", id="license_tmpl_en").
    .row-fluid
        .pull-left
            ul#js_langs.nav.nav-pills.nav-stacked
                li.active: a(href='/?locale=en')= 'English'
                li: a(href='/?locale=zh')= '简体中文'

        .license.mywell.offset2.span10
            .scrollspy(data-spy="scroll",data-offset="0")
                h2
                    center Red Flag&reg; Linux&reg; Software License Agreement

                p.
                    Please read this document carefully before installing Red Flag&reg;
                    Linux&reg;, any of its packages, or any software included with this
                    product on your computer. This document contains important
                    information about your legal rights and obligations. By installing
                    any or all of the software included with this product, you agree to
                    and abide by the following terms and conditions. If you do not
                    agree to them, please don't install this product.

                h3 Definitions

                p.
                    "Red Flag" and "a penguin with a red flag" logo are registered
                    trademarks of Red Flag Software Co., Ltd. "Linux" is a trademark of
                    Linus Torvalds. All other trademarks are the property of their
                    respective owners.

                p.
                    "Red Flag Software" is the short for "Red Flag Software Co., Ltd."
                p.
                    "You (User)" are the entity who is granted to use, copy, modify,
                    distribute Red Flag Linux product.

                p.
                    GNU-GPL, that is GNU - General Public License, Version 2, June
                    1991, Copyright 1989, 1991 Free Software Foundation, Inc. 59 Temple
                    Place - Suite 330, Boston, MA 02111-1307, USA.

                p For details, please see:
                    a(href="http://www.gnu.org/copyleft/gpl.html") http://www.gnu.org/copyleft/gpl.html

                h3 General Provisions

                p.
                    Red Flag Linux is a modular operating system made up of hundreds of
                    individual software components, each of which was written and
                    copyrighted individually. Each component has its own applicable End
                    User License Agreement. Throughout this document the components are
                    referred to, individually and collectively, as the "Linux
                    Programs." Most of the Linux Programs are licensed pursuant to a
                    Linux End User License Agreement that permits you to copy, modify,
                    and redistribute the software, in both source code and binary code
                    forms. You must review the license agreement that accompanies each
                        of the Linux Programs included in Red Flag product so that you
                        can understand and realize your rights and obligations under
                        those EULAs. Nothing in this agreement limits your rights
                        under, or grants you rights that supercede, the terms of any
                        applicable Linux EULA.
                p.
                    Red Flag Linux product, including without limitation, source code,
                    documentation, appearance, structure and organization, are
                    proprietary products of Red Flag Software and others and is
                    protected by Copyright Law, Trademarks Law, and other laws. You
                    must comply with the said laws and this agreement to use, copy,
                    modify and distribute the Red Flag(R) Linux(R) product.

                h3 Copy, Modification And Distribution

                p.
                    You can and must copy, modify and distribute the Linux Programs,
                    which are pursuant to GNU-GPL, in the manner which set forth in
                    GNU-GPL accompanies a copy of this agreement without any change.
                    Others which are not pursuant to GNU-GPL must be copied, modified
                    and distributed under their respective EULA and the corresponding
                    laws. You must not utilize any trademark or logo, which belongs to
                    Red Flag Software, in copying, modifying and distributing Red Flag
                    Linux software without the prior written authorization from Red
                    Flag Software.

                h3 Limited Warranty

                p.
                    Except as specifically stated in this agreement or in an EULA or
                    another agreement, the Software Programs are provided and licensed
                    "AS IS" without warranty of any kind, either expressed or Implied,
                    including, but not limited to, the implied warranties of
                    merchantability, non-infringement, and fitness for a particular
                    purpose.

                p.
                    Red Flag Software does not warrant that the functions contained in
                    the Software Programs will meet your requirements or that the
                    operation of the Software Programs will be entirely error free or
                    appear precisely as described in the accompanying documentation.

                p.
                    To the maximum extent permitted by applicable law, in no event will
                    Red Flag Software be liable to you for any damages, including lost
                    profits, lost savings, or other incidental or consequential
                    damages, arising out of the use or inability to use the Red Flag
                    Linux Product, even if Red Flag Software or a dealer authorized by
                    Red Flag Software had been advised of the possibility of such
                    damages.

                h3 Registration And Remedies

                p
                    | Any warranty or remedy provided under this agreement extends only
                    | to the party who purchases Red Flag Linux from Red Flag Software or
                    | a distributor authorized by Red Flag Software. To the maximum
                    | extent permitted by applicable law, the remedies described below
                    | are accepted by you as your only remedies, and shall be available
                    | to you only if you or your dealer registers this product in the
                    | website of Red Flag Software.
                    a(href="http://www.redflag-linux.com") http://www.redflag-linux.com.

                p.
                    Red Flag Software warrants that the media on which any of the
                    Software Programs are furnished will be free from defects in
                    materials and manufacture under normal use for a period of 30 days
                    from the date of delivery to you. When you get a Red Flag Linux
                    product with defects in materials or (and) manufacture, you must
                    deliver it during the period set forth above to Red Flag Software
                    with one copy of invoice of the original product. Red Flag
                    Software, at its sole option, will replace it or refund the money
                    paid by you for the Red Flag Linux product.

                h3 Severability

                p.
                    In the event that any part of this agreement is held to be
                    unenforceable, in whole or in part, such holding will not affect
                    the validity of the other parts of this agreement.

                h3 Governing Law

                p.
                    Any action related to this agreement will be construed and governed
                    by the laws of People's Republic of China.

                h3 Power of Interpretation

                p.
                    Red Flag has the final authority to interpret.
                p.
                    Copyright reserved (c) 2000-2012 Beijing Red Flag Software Co.,
                    Ltd..  Red Flag software allows you to copy and distribute a copy
                    of the Agreement, but it does NOT allow for any amendment.
                p.
                    If you do NOT agree with this Agreement, do NOT install and use the
                        software under this Agreement, and return to us immediately. If
                        you have begun to install or use, you are considered fully
                        agree with this Agreement all of its contents.

    ul.pager#choose
        li
            span.mycheckbox(value="agree")
            b= gettext('agree')
        li
            span.mycheckbox.checked(value="disagree")
            b= gettext('disagree')
