script(type="text/template", id="part_tmpl").
    ul#myTab.nav.nav-tabs
        li.active
            a#easy(href="#",data-toggle="tab") EasyPart
        li
            a#fulldisk(href="#",data-toggle="tab") FullDiskPart
        li
            a#advanced(href="#",data-toggle="tab") AdvancedPart
    #part_content
    .btn.btn-warn#dataoptions getDatas
include fd_part
include easy_part
include ad_part
