script(type="text/html", id="process_tmpl").
    div#process_dial
        input.dial(type="text", value="0",data-thickness=".4", data-fgColor="chartreuse", data-readOnly=true)

    a#install.btn.btn-info install
