script(type="text/html", id="process_tmpl").
    div#process_dial.offset3
        input.dial(type="text", value="0",data-thickness=".4", data-fgColor="chartreuse", data-readOnly=true)
    .offset7
        a#install.btn.btn-info install
