script(type="text/html", id="process_tmpl").
    .page-container
        #presentation.carousel.slide
            .carousel-inner

            a.carousel-control.left(href="#presentation", data-slide="prev") &lsaquo;
            a.carousel-control.right(href="#presentation", data-slide="next") &rsaquo;

        h3 Current Status

        #install-log

    div#install-progress
        
        
