script(type="text/html", id="process_tmpl").
    div#process_dial.process_center
        input.dial(type="text", value="0",data-thickness=".4", data-fgColor="chartreuse", data-readOnly=true)
    .right
        a#install.btn.btn-info install
