script(type="text/html", id="userinfo_tmpl").
    fieldset
        div.control-group.form-horizontal
            label.control-label(for="name")= gettext('Username')
            .controls
                input.input-xlarge.js-useradd#name(type="text", maxlength="32")
        hr
        div.control-group.form-horizontal
            label.control-label(for="hostname")= gettext('Hostname')
            .controls
                input.input-xlarge.js-required#hostname(minlength="2", maxlength="20",value="-qomo")
