extends layout

block header        
    //-script(src="/app.js")
    title Demo App

block content
    .row
        .offset2.span8.well
            h1 Welcome To Hippo 
            p here is a simple demo app that you can try 

            .well
                .row-fluid
                    .offset2.span8
                        span.input-xlarge.uneditable-input
                        br
                        .btn-toolbar
                            .btn-group
                                input.btn(type="button",value=" 1 ")
                                input.btn(type="button",value=" 2 ")
                                input.btn(type="button",value=" 3 ")
                            .btn-group
                                a#add.btn.btn-primary +
                            br
                            .btn-group
                                input.btn(type="button",value=" 4 ")
                                input.btn(type="button",value=" 5 ")
                                input.btn(type="button",value=" 6 ")
                            .btn-group
                                a#minus.btn.btn-primary -
                            br
                            .btn-group
                                input.btn(type="button",value=" 7 ")
                                input.btn(type="button",value=" 8 ")
                                input.btn(type="button",value=" 9 ")
                            .btn-group
                                a#mul.btn.btn-primary *
                            br
                            .btn-group
                                input.btn(type="button",value=" . ")
                                input.btn(type="button",value=" 0 ")
                                input.btn(type="button",value=" = ")
                            .btn-group
                                a#div.btn.btn-primary /
                            br
