!!!
html
    head
        //-magic comment used to auto serving js and css
        != author
        != systemAssets
        != assets

        block header

    body
        #content
            block content
