<div class="well">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="offset4 span4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th>path</th>
                    <th>size</th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>/dev/sda1</td><td>100MB</td></tr>
                    <tr><td>/dev/sda2</td><td>5GB</td></tr>
                    <tr><td>free</td><td>10GB</td></tr>
                </tbody>
            </table>
        </div>
        <div class="pull-right">
            <a class="btn btn-primary">Create</a>
            <a class="btn btn-primary">Delete</a>
            <a class="btn btn-primary">Commit</a>
        </div>
    </div>
    <div class="progress progress-striped active" id="progress">
        <div class="bar" style="width: 40%;"></div>
    </div>
</div>
