<div class="well">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="offset2 span8">
            <b>Create a new user:</b>
            <form>
                Username:
                <input type="text" name="username" />
                <br/>
                Password:
                <input type="text" name="password" />
                <br/>
                Confirm Password:
                <input type="text" name="confirm" />
                <br/>
                <a class="btn btn-primary">Submit</a>
            </form>
        </div>
    </div>
</div>
