html {
    height: 100%;
}

body {
    height: 100%;
    background: none repeat scroll 0 0 #FFF;    
}

#content {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background: none repeat scroll 0 0 #FFF;
    position: relative;
    overflow: hidden;
}

.mywell {
    min-height: 20px;
    padding: 19px;
    margin: 20px;
    border-radius: 6px;
    border: 1px solid rbga(0, 0, 0, 0.05);
    background: rgb(250, 250, 250);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05) inset;    
}

.body-expand {
    position: absolute;
    width: 100%;
    height: 370px; /* fallback without calc */
    height: -webkit-calc(100% - 100px - 100px);
    height: -moz-calc(100% - 100px - 100px);    
    margin-bottom: 100px;
    top: 120px;
}

#stage {
    background-color: #EDF4F7;
    padding: 20px;
    border-top: 1px solid #D6E3E8;
    border-bottom: 1px solid #D6E3E8;
    height: 328px; /* fallback without calc */    
    height: -webkit-calc(100% - 42px);
    height: -moz-calc(100% - 42px);
    overflow: auto;
}

.footer {
    position: absolute;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
}

#content h1 {
    color: #EB7A24;
}

div#presentation {
    height: 300px;
}

div#presentation .item img {
    width: 100%;
    height: 100%;
}

#install-log {
    overflow: hidden;
    height: auto;
    margin-bottom: 10px;
}

#install-log span.label {
    width: 90%;
    margin: 1px 0 5px 0;
}

.process_center {
    text-align: center;
}

.part_table {
    margin: 0 auto; 
    padding: 0;
}

.part_table ul.wat-cf::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.part_table a	{
    text-decoration: none; 
    color: #eee;
    display: block;
    padding: 4px 0;
}

.part_table ul.disk {
    padding: 4px;
    list-style: none;
    -webkit-box-shadow: 2px 2px 5px black;
}

.part_table ul ul {
    margin-left: 4px;
    list-style: none;
}

.part_table ul.logicals {
    padding: 4px;
}

table.colorinfo td[pty="primary"],
.part_table ul[pty="primary"] {
    background:#F3A01E;
}

table.colorinfo td[pty="disk"],
.part_table ul.disk {
    background: #9DC425;
}

table.colorinfo td[pty="logical"],
.part_table ul[pty="logical"] {
    background:#F3CB20;
}

table.colorinfo td[pty="free"],
.part_table ul[pty="free"] {
    background:#A75375;
}

table.colorinfo td[pty="extended"],
.part_table ul[pty="extended"] {
    background:#7C48B5;
}

.part_table ul.part {
    list-style: none;
}

.part_table ul.part li {
    white-space: nowrap;
}

.part_table ul.part li.colorhidden a{
    color: #4b4b4b;
}
.part_table ul.part:hover li.colorhidden a{
    color: #eee;
}

.part_table li.horizontal {
    float: left;
}

table.colorinfo td[pty="select"],
.part_table ul.select {
    background: #D66B6B;
}

/* buttons */
ul.buttons {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

ul.buttons a {
    display: inline-block;
    padding: 15px 20px;
    margin: 0 5px;
    font-size: 18px;
    
    background-image: -webkit-linear-gradient(top, #3FB745 50%,#149E3D);
    background-image: -moz-linear-gradient(top, #3FB745 50%,#149E3D);
    background-image: linear-gradient(top, #3FB745 50%,#149E3D);
    
    border: 1px solid #DDD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    color: white !important;
    text-decoration: none;
}

ul.buttons a.disabled {
    background-image: -webkit-linear-gradient(top, #879288 50%,#6E8A76);   
}

ul.buttons a:active {
    background: #41862A;
}

table.colorinfo, 
#reset {
    float: right;
}

