.scrollspy-example {
    height: 300px;
    overflow: auto;
    position: relative;
}

ul.breadcrumbs {
    /* Clear floats */
    overflow: hidden;
    width: 100%;
}

ul.breadcrumbs li {
    float: left;
    margin: 0 .5em 0 1em;
}

ul.breadcrumbs a {
    background: #ddd;
    padding: .7em 1em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    position: relative;
}
ul.breadcrumbs .current a {
    background: #99db76;
}

ul.breadcrumbs a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #ddd #ddd #ddd transparent;
    left: -1em;
}

ul.breadcrumbs .current a::before {
    border-color: #99db76 #99db76 #99db76 transparent;
}

ul.breadcrumbs a::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #ddd;
    right: -1em;
}

ul.breadcrumbs .current a::after {
    border-left-color: #99db76;
}

ul.breadcrumbs .current,
ul.breadcrumbs .current:hover {
    font-weight: bold;
    background: none;
}
ul.breadcrumbs .current::after,
ul.breadcrumbs .current::before {
    content: normal;
}

#content {
    width: 100%;
    height: 576px;
}

div#presentation {
    height: 300px;
}

div#presentation .item img {
    width: 100%;
    height: 100%;
}

#install-log {
    overflow: auto;
    height: 100px;
}

#install-log div.label {
    width: 90%;
    margin: 1px 0 5px 0;
}

.process_center {
    text-align: center;
}

.part_table {
    margin: 0 auto; 
    padding: 0;
}

.part_table ul.wat-cf::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.part_table a	{
    text-decoration: none; 
    color: #eee;
    display: block;
    padding: 4px 0;
}

.part_table a:hover {
    text-decoration: underline; 
}

.part_table ul.disk {
    padding: 4px;
    list-style: none;
    -webkit-box-shadow: 2px 2px 5px black;
    background: #9DC425;
}

#advanced_part_table ul.disk li.horizontal {
    border-style: ridge;
}

.part_table ul ul {
    background: #354668;
    margin-left: 4px;
    list-style: none;
}

.part_table ul[pty="primary"] {
    background:#F3A01E;
}
.part_table ul[pty="logical"] {
    background:#F3CB20;
}
.part_table ul[pty="free"] {
    background:#A75375;
}

.part_table ul[pty="extended"] {
    background:#7C48B5;
}

.part_table ul.part {
    list-style: none;
}

.part_table ul.part li {
    white-space: nowrap;
}

.part_table ul.part li.colorhidden a{
    color: #4b4b4b;
}
.part_table ul.part:hover li.colorhidden a{
    color: #eee;
}

.part_table li.horizontal {
    float: left;
}

.part_table ul.select {
    background: #D66B6B;
}
