.scrollspy-example {
    height: 300px;
    overflow: auto;
    position: relative;
}

div#presentation {
    height: 400px;
    overflow: auto;
}

#presentation div.label {
    width: 90%;
    margin: 1px 0 5px 0;
}

.process_center {
    text-align: center;
}

.part_table {
    margin: 0 auto; 
    padding: 0;
}

.part_table ul.wat-cf::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.part_table a	{
    text-decoration: none; 
    color: #eee;
    display: block;
    padding: 4px 0;
}

.part_table a:hover {
    text-decoration: underline; 
}

.part_table ul.disk {
    padding: 4px;
    list-style: none;
    -webkit-box-shadow: 2px 2px 5px black;
    background: #362b40;
}

#advanced_part_table ul.disk li.horizontal {
    border-style: ridge;
}

.part_table ul ul {
    background: #354668;
    margin-left: 4px;
    list-style: none;
}

.part_table ul[pty="primary"] {
    background:#304531;
}
.part_table ul[pty="logical"] {
    background:#72352d;
}
.part_table ul[pty="free"] {
    background:#354668;
}

.part_table ul[pty="extended"] {
    background:#283142;
}

.part_table ul.part {
    list-style: none;
}

.part_table ul.part li {
    white-space: nowrap;
}

.part_table ul.part li.colorhidden a{
    color: #4b4b4b;
}
.part_table ul.part:hover li.colorhidden a{
    color: #eee;
}

.part_table li.horizontal {
    float: left;
}

.part_table ul.select {
    background: #D66B6B;
}
