html {
    height: 100%;
}

body {
    height: 100%;
    background: none repeat scroll 0 0 #FFF;    
}

#content {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background: none repeat scroll 0 0 #FFF;
    position: relative;
}

.mywell {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid rbga(0, 0, 0, 0.05);
    background: rgb(250, 250, 250);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.body-expand {
    position: absolute;
    width: 100%;
    height: -webkit-calc(100% - 80px - 100px);
    margin-bottom: 80px;
    top: 100px;
}

#stage {
    background-color: #EDF4F7;
    
    border-top: 1px solid #D6E3E8;
    border-bottom: 1px solid #D6E3E8;
}

.footer {
    position: absolute;
    /* height: 50px; */
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
}

.scrollspy-example {
    height: 300px;
    overflow: auto;
    position: relative;
}

ul.breadcrumbs {
    background: #eee;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #e5e5e5 #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    overflow: hidden;
    margin: 12px auto 12px auto;
}

ul.breadcrumbs li {
    float: left;
}

ul.breadcrumbs a {
    padding: .7em 1em .7em 2em;
    float: left;
    text-decoration: none;
    color: #444;
    position: relative;
    text-shadow: 0 0 1px #4B1919;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(left, whiteSmoke, #DDD);
    background-image: -moz-linear-gradient(left, whiteSmoke, #DDD);    
}

ul.breadcrumbs .current a {
    background: #99db76;
}

ul.breadcrumbs li:firstchild a {
    padding-left: 1em;
    border-radius: 5px 0 0 5px;
}

ul.breadcrumbs a::after,
ul.breadcrumbs a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
}

ul.breadcrumbs a::after {
    z-index: 2;
    border-left-color: #ddd
}

ul.breadcrumbs a::before {
    border-left-color: #ccc;
    right: -1.1em;
    z-index: 1;
}

ul.breadcrumbs .current a::after {
    border-left-color: #99db76;
}

ul.breadcrumbs .current {
    font-weight: bold;
    background: none;
}

ul.breadcrumbs .current::after,
ul.breadcrumbs .current::before {
    content: normal;
}



div#presentation {
    height: 300px;
}

div#presentation .item img {
    width: 100%;
    height: 100%;
}

#install-log {
    overflow: hidden;
    height: auto;
    margin-bottom: 10px;
}

#install-log span.label {
    width: 90%;
    margin: 1px 0 5px 0;
}

.process_center {
    text-align: center;
}

.part_table {
    margin: 0 auto; 
    padding: 0;
}

.part_table ul.wat-cf::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.part_table a	{
    text-decoration: none; 
    color: #eee;
    display: block;
    padding: 4px 0;
}

.part_table ul.disk {
    padding: 4px;
    list-style: none;
    -webkit-box-shadow: 2px 2px 5px black;
}

.part_table ul ul {
    margin-left: 4px;
    list-style: none;
}

.part_table ul.logicals {
    padding: 4px;
}

table.colorinfo td[pty="primary"],
.part_table ul[pty="primary"] {
    background:#F3A01E;
}

table.colorinfo td[pty="disk"],
.part_table ul.disk {
    background: #9DC425;
}

table.colorinfo td[pty="logical"],
.part_table ul[pty="logical"] {
    background:#F3CB20;
}

table.colorinfo td[pty="free"],
.part_table ul[pty="free"] {
    background:#A75375;
}

table.colorinfo td[pty="extended"],
.part_table ul[pty="extended"] {
    background:#7C48B5;
}

.part_table ul.part {
    list-style: none;
}

.part_table ul.part li {
    white-space: nowrap;
}

.part_table ul.part li.colorhidden a{
    color: #4b4b4b;
}
.part_table ul.part:hover li.colorhidden a{
    color: #eee;
}

.part_table li.horizontal {
    float: left;
}

table.colorinfo td[pty="select"],
.part_table ul.select {
    background: #D66B6B;
}

/* buttons */
ul.buttons {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

ul.buttons a {
    display: inline-block;
    padding: 15px 20px;
    margin: 0 5px;
    font-size: 18px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;    
}

ul.buttons a.disabled {
    background-color: #e6e6e6;
}

table.colorinfo, 
#reset {
    float: right;
}

