html {
    height: 100%;
}

body {
    height: 100%;
    background: none repeat scroll 0 0 #FFF;    
}

#content {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background: none repeat scroll 0 0 #FFF;
    position: relative;
    overflow: hidden;
}

.mywell {
    min-height: 20px;
    padding: 19px;
    margin: 20px;
    border-radius: 6px;
    border: 1px solid rbga(0, 0, 0, 0.05);
    background: rgb(250, 250, 250);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05) inset;    
}

.body-expand {
    position: absolute;
    width: 100%;
    height: 404px; /* fallback without calc */
    /* height calc: 100% - top - bottom */
    height: -webkit-calc(100% - 100px - 70px);
    height: -moz-calc(100% - 100px - 70px);    
    margin-bottom: 70px;
    top: 115px;
}

#stage {
    background-color: #EDF4F7;
    padding: 20px;
    border-top: 1px solid #D6E3E8;
    border-bottom: 1px solid #D6E3E8;
    height: 362px; /* fallback without calc */    
    height: -webkit-calc(100% - 42px);
    height: -moz-calc(100% - 42px);
    overflow: auto;
}

.footer {
    position: absolute;
    /* padding-bottom: 10px; */
    bottom: 0;
    width: 100%;
}

#content h1 {
    color: #EB7A24;
}

div#presentation {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

div#presentation .mygallery img {
    -webkit-box-shadow: 8px 8px 10px #88AD97;
}

#install-log {
    overflow: hidden;
    height: auto;
    margin-bottom: 10px;
}

#install-log span.label {
    width: 90%;
    margin: 1px 0 5px 0;
}

.process_center {
    text-align: center;
}

.part_table {
    width: 100%;
    clear: both;
}

.part_table ul.wat-cf::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.part_table ul {
    padding: 2px;
    list-style: none;
    cursor: pointer;
}

.part_table ul.part:hover {
    _-webkit-box-shadow: 2px 2px 5px black;
}

.part_table ul.disk {
    width: 95%;
}

.part_table ul.part {
    margin: 2px;
    height: 44px;
}

table.colorinfo td[pty="primary"],
.part_table ul[pty="primary"] {
    background:#F3A01E;
}

table.colorinfo td[pty="disk"],
.part_table ul.disk {
    background: #9DC425;
}

table.colorinfo td[pty="logical"],
.part_table ul[pty="logical"] {
    background:#F3CB20;
}

table.colorinfo td[pty="free"],
.part_table ul[pty="free"] {
    background: #D66B6B;
}

table.colorinfo td[pty="extended"],
.part_table ul[pty="extended"] {
    background:#7C48B5;
}

.part_table ul li {
    white-space: nowrap;
    text-align: center;
}

.part_table li.horizontal {
    float: left;
}

.part_table .modal-header h3 {
    text-align: left;
}

.part_table ul.logicals ul {
    height: 36px;
}

.part_table ul.selectable li {
    overflow: hidden;
}

table.colorinfo td[pty="select"],
.part_table ul.select {
    _background:#A75375;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

/* buttons */
ul.buttons {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

ul.buttons a {
    display: inline-block;
    padding: 15px 20px;
    margin: 0 5px;
    font-size: 18px;
    background: #08C;
    
    border: 1px solid #DDD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    color: white !important;
    text-decoration: none;
}

ul.buttons a.smaller {
    font-size: 13px;
    padding: 9px 12px;
}

ul.buttons a:active {
    background: #003580;
}

ul.buttons a.disabled {
    background-image: -webkit-linear-gradient(top, #879288 50%,#6E8A76);
    cursor: default;
}

ul.buttons a.disabled:active {
    background-image: -webkit-linear-gradient(top, #879288 50%,#6E8A76);
}

.right {
    float: right;
}

span.mycheckbox {
    display: inline-block;
    background: url('/images/checkbox.png') no-repeat;
    width: 23px;
    height: 23px;
    background-position: 0px -23px;
    vertical-align: middle;
}

span.mycheckbox.checked {
    background-position: 0px -46px;
}

// process.jade
#install-log {
    height: 18;
}

//finished.jade
#finished {
    border: 0; 
    padding-bottom: 9px;
}

#finished h2 {
    color: #EB7A24;
}

#finished label {
    display: block;
    cursor: pointer;
    line-height: 20px;
    padding-bottom: 9px;
    padding-left: 34px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

#finished .label_radio input {
    margin-right: 5px;
}

#finished .label_radio {
    background:url(/images/radio-off.png) no-repeat;
}
#finished .label_radio.label_checked {
    background: url(/images/radio-on.png) no-repeat;
}
#finished .label_radio input {
    position: absolute;
    left: -9999px;
}

#myconfirm .modal-body p.warning {
    color: red;
}
