ul.progressbar {
    list-style:none;
    width:100%;
    margin:0 auto;
    padding-top:50px;
    padding-bottom:75px;
    overflow: hidden;
}
ul.progressbar li {
    float:left;
    position:relative;
    width: 5px;
    height: 14px;
    margin-left:1px;
    border-left:1px solid #111;
    border-top:1px solid #111;
    border-right:1px solid #333;
    border-bottom:1px solid #333; 
    background:#000;
}

ul.progressbar li:first-child { margin-left:0; }

.bar {
    background-color:#2187e7;  
    background-image: -moz-linear-gradient(45deg, #2187e7 25%, #a0eaff); 
    background-image: -webkit-linear-gradient(45deg, #2187e7 25%, #a0eaff);
    width: 5px;
    height: 14px;
    opacity:0;
    /* -webkit-animation:fill .5s linear forwards; */
    /* -moz-animation:fill .5s linear forwards; */
}

@-moz-keyframes fill {
    0%{ opacity:0; }
    100%{ opacity:1; }    
}

@-webkit-keyframes fill {
    0%{ opacity:0; }
    100%{ opacity:1; }    
}
