ul.progressbar {
    list-style:none;
    width:100%;
    margin:0 auto;
    overflow: hidden;
}

ul.progressbar li {
    float:left;
    position:relative;
    width: -webkit-calc(100% / 100 - 3px);
    width: -moz-calc(100% / 100 - 3px);
    width: calc(100% / 100 - 3px);    
    height: 14px;
    margin-left:1px;
    border-left:1px solid rgba(17, 17, 17, 0.2);
    border-top:1px solid rgba(17, 17, 17, 0.2);
    border-right:1px solid rgba(17, 17, 17, 0.3);
    border-bottom:1px solid rgba(17, 17, 17, 0.3);
    background: rgba(54, 23, 23, 0.63);
}

ul.progressbar li:first-child { margin-left:0; }

.bar {
    background-color:#2187e7;  
    background-image: -moz-linear-gradient(45deg, #2187e7 25%, #a0eaff); 
    background-image: -webkit-linear-gradient(45deg, #2187e7 25%, #a0eaff);
    width: 5px;
    height: 14px;
    opacity:0;
    /* below is started by js */
    /* -webkit-animation:fill .5s linear forwards; */
    /* -moz-animation:fill .5s linear forwards; */
}

@-moz-keyframes fill {
    0%{ opacity:0; }
    100%{ opacity:1; }    
}

@-webkit-keyframes fill {
    0%{ opacity:0; }
    100%{ opacity:1; }    
}
