extends layout

block header        
    //-script(src="/app.js")
    title Demo App

block content
    .row
        .offset2.span8.well
            h1 Welcome To Demo App
            p.
                this is demo app to sperate app
                from framework.

            p.
                try these functions, which are all remote methods.

            .well
                div
                    a.btn.btn-primary getPartitions
                    a.btn.btn-primary mul
                    a.btn.btn-primary getEnv
                    a.btn.btn-primary listUsers
                    a.btn.btn-primary expose
                    a.btn.btn-primary rmpart
                div
                    | result = 
                    span#result ?

