div
    table.table.table-bordered
        thead
            tr
                th Number
                th Start
                th End
                th Size
                th parttype
                th fs
        tbody
            - var parts = disk["table"]
            - for ( var part in parts )
                tr
                    - var p = parts[part]
                    - for (var x in p )
                        th #{p[x]}

