:markdown
    Introduction 
    ----

    <em>Hippo</em> is a simple real time web app framework. for more
    information please go to root of project and read **README.md**.
    Hippo works as a remote rpc system. all your code should hosted 
    at client/ dir at your project root. view source code of demo app 
    for details of how to use it.

    Illustration
    ----

    go through features of hippo by trying to click following buttons

